# Compilação
target/
out/
*.class
*.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Maven
pom.xml.tag
pom.xml.releaseBackup
release.properties

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.classpath
.project
.settings/

/exercicios/exercicio-3-diversos/bank_account/.gitignore
/exercicios/exercicio-3-diversos/car_control/.gitignore
